/eval_results_all*
__pycache__/
*.pyc
/dump*
outputs/
benchmark/balanced/
benchmark/greedy/
benchmark/balanced_old/
benchmark/greedy_old/
.ipynb_checkpoints
battles_raw
benchmark/balanced*
bench_logs_test/
/results.md
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
.env
.env.*
!.env.example
