eval_results_all*
test*
__pycache__/
*.pyc
run_evaluate*
dump*
outputs/
benchmark/balanced/
benchmark/greedy/
benchmark/balanced_old/
benchmark/greedy_old/
.ipynb_checkpoints
battles_raw
benchmark/balanced*
bench_logs_test/
results.md