datasets >= 2.18.0, < 4
numpy < 2
pandas
tqdm
pyyaml
requests
evaluate
scikit-learn
transformers
accelerate
peft
safetensors
sentencepiece
tiktoken
vllm
rouge-score
pymorphy3
fasttext-langdetect
immutabledict
langdetect
nltk
plotly
evalica
math_verify
hf_xet
